

   <div class="row">
       <div class="col-md-4">
      <%= line_chart [
        {name: "Previsto", data: @expected_dividends_group_month},
        {name: "Real", data: @real_dividends_group_month}
      ] , title: t(:'graph_dividend_year_com') %>
       </div>


       <div class="col-md-4">
      <%= column_chart @purchases_group_year, title: t(:'graph_year_purchases') %>

       </div>
       <div class="col-md-4">
      <%= pie_chart @real_dividends_group_year , donut: true, title: t(:'graph_dividend_historic') %>
       </div>
    </div>   



 <div class="row">
       <div class="col-md-4">
          <%= pie_chart @expected_dividends_group_company , donut: true, legend: false, title: t(:'graph_weight_dividend') %>
       </div>


       
    </div> 