    


       
        <% companies_mostrar.each  do |key, value| %>  
       
          <div class="row">
            <div class="col-md-8" style="padding-left: 15px;  padding-right: 10px;">
                <%= link_to value.name.titleize, value %>
            </div>
            <div class="col-md-4" style="text-align: right;">
                <%= value.share_price_formatted %>   <br>    
                <small>
                <% if value.share_price_change_perc >= 0 %>
                  <font color="#009933"><%= number_to_percentage(value.share_price_change_perc, precision: 2) %></font>
                <% else %>
                    <font color="#ff0000"><%= number_to_percentage(value.share_price_change_perc, precision: 2) %></font>
                <% end %>  
                </small>                                               
            </div>    
           
          </div>
         <% end %> 
        




<br>

