
<div class="row">    
    <div class="col-md-10" >
		 <h2 class = "page-header">
		  <%= t(:'list_targets') %>
		</h2>      
       
     
    </div>
 
</div>





 <%= render :partial => 'list_color', locals: {companies_color: @greens, row_color: "success"} %>


<%= render :partial => 'list_color', locals: {companies_color: @yellows, row_color: "warning"} %>



 <%= render :partial => 'list_color', locals: {companies_color: @greys, row_color: "info"} %>


<br>

