
<!-- <img src="portada_ing.png" class="img-fluid" > -->
<br>
<br>
<br>




<div class="container">
  <img src="portada_ing.jpg" class="img-rounded img-responsive">

<br>
<br>
  <div class="jumbotron"  style="color:#c04700;">
    <h1 class="display-3">Bye Bye ING Broker</h1>
    <p class="lead">Si odias el nuevo broker de ING, estás en el sitio correcto.</p>
    <hr class="my-4">
    
    <p class="lead">      
      <%= link_to "Empecemos", companies_path , :class => "btn btn-ing btn-lg",  :style =>"color:#FFFFFF;" %>
    </p>
  </div>
</div>


<br>

    <!-- <div class="row"  style="background:transparent url('portada_ing.png') no-repeat center center /cover"> -->

<div class="container">

  <div class="row">
    <div class="col-md-4" style="padding-left: 15px;  padding-right: 10px;">
          <img src="joven.png" class="img-rounded img-responsive">
    </div>
    
    

    <div class="col-md-4" style="padding-left: 40px;  padding-right: 10px;">
          <img src="old_ing.jpg" class="img-rounded img-responsive">
    </div>
    
    

    <div class="col-md-4" style="padding-left: 60px;  padding-right: 0px;">
          <img src="ordenador.jpg" class="img-rounded img-responsive">
    </div>
  </div>

<div class="row">
    <div class="col-md-4" style="padding-left: 20px;  padding-right: 75px;">
       <p align="center" style="color:#c04700;"><strong>No acabaras como esta chica después de usar la web</strong></p>            
    </div>
    


    <div class="col-md-4" style="padding-left: 45px;  padding-right: 70px;">
         <p align="center" style="color:#c04700;"><strong>La web es tan fea como la antigua de ING y se ve todo de un vistazo.</strong></p>      
    </div>

    

    <div class="col-md-4" style="padding-left: 65px;  padding-right: 0px;">
          <p align="center" style="color:#c04700;"><strong>Tenemos gráficos <br> ¡con datos bien calculados!</strong></p>      
    </div>
  </div>


</div>


