
<!-- <img src="portada_ing.png" class="img-fluid" > -->
<br>
<br>
<br>



    <!-- <div class="row"  style="background:transparent url('portada_ing.png') no-repeat center center /cover"> -->

<div class="container">

  <div class="row">
    <div class="col-md-4" style="padding-left: 10px;  padding-right: 10px;">
          <img src="ing.png" class="img-rounded img-responsive">
    </div>
    
    

    <div class="col-md-4" style="padding-left: 10px;  padding-right: 10px;">
          <img src="old_ing.jpg" class="img-rounded img-responsive">
    </div>
    
    

    <div class="col-md-4" style="padding-left: 10px;  padding-right: 10px;">
          <img src="ordenador.jpg" class="img-rounded img-responsive">
    </div>
  </div>


</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8"> 
            <img src="portada_ing.png" class="img-rounded img-responsive">
            
        </div>
        <div class="col-lg-4">
            <br>
            <br>
            <br>
            
            <h5  style="color:#c04700;"><strong>Utiliza el broker de ING sólo para operar. <br>
              Para conocer el estado de tu cartera mejor una web en condiciones</strong></h5>
            <br>
            <a href="#" class="btn btn-primary" style="color:#FFFFFF;">Empecemos</a>
         
        </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-lg-4"> 
            <div class="card">
              <img class="card-img-top" src="ing.png" class="img-responsive" alt="Card image cap">
              <div class="card-block"><strong>Utiliza el broker de ING sólo para operar. <br>
              Para conocer el estado de tu cartera mejor una web en condiciones</strong></div>
            </div>          
        </div>
        <div class="col-lg-4"> 
            <div class="card">
              <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
              <div class="card-block"><strong>kkkkkk</strong></div>
            </div>           
        </div>
         <div class="col-lg-4"> 
            <div class="card">
              <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
              <div class="card-block"><strong>kkkkkk</strong></div>
            </div>             
        </div>
    </div>
</div>


<div class="card">
  <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
  <div class="card-block"> Some more card content </div>
</div>

<div class="row">
  </div>
<div class="container">
    <div class="row">
      <div class="card-deck">
        <div class="card">
          
          <img class="card-img-top" src="home-bg.jpg" width="219" height="100" alt="Card image cap">

          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>

     </div>
  </div>
</div>  