<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operationtype.name %>
</p>

<%= link_to 'Edit', edit_operationtype_path(@operationtype) %> |
<%= link_to 'Back', operationtypes_path %>
